{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container py-3">
        <row>
            <div class="img-fluid" ><img src="{% static 'img/about_us_1.png' %}" alt="picture 1" style="width: 100%"> </div>
        </row>
        <hr>
        <h2 class="mb-5" style="text-align: center; padding-top: 25px; font-weight: normal">ABOUT DESI CHAMAK</h2>
        <p class="text-center">Desi Chamak is a local retail company that sells South Asian accessories. The company sells its products
            online to customers worldwide.</p>
        <hr>
        <div class="text-decoration-underline">
           <h4 class="text-center" style="font-weight: normal">Who Are We?</h4>
        </div>
        <div class="d-flex justify-content-around" style="font-size: 1.2em">
            <span>Sukhpreet Singh</span> <span>Nirvana Sharma Singh</span> <span>Gurpreet Singh</span>
        </div>
        <div class="text-justify">
            <br>
            <p>Greetings! We are three best friends that have found a flourishing local business in Virginia, USA known
                as Desi Chamak. </p>
            <p>During our college days, we used to perform in the team name Bhangra Dance group. Bhangra is a
                traditional folk dance of Punjab in India. Our friendship blossomed and soon led us to create a business
                that best represents South Asian culture. </p>
            <p>In order to effectively advance the company to a higher and bigger platform, we have adopted numerous
                business growth strategies & techniques as a team throughout the years.</p>
        </div>
        <div class="text-decoration-underline">
            <h4 class="text-center" style="font-weight: normal">Mission</h4>
        </div>
        <div class="text-justify">
            <p>Our mission is to offer the best customer satisfaction to people around the NOVA area with the best
                South Asian Jewelry. We thrive and work for a doubling of our base to the worldwide customers.</p>
        </div>
        <div class="text-decoration-underline">
            <h4 class="text-center" style="font-weight: normal">Goal</h4>
        </div>
        <div class="text-justify">
            <p>With our new Desi Chamak website, our goal is to overcome the business challenges that affect the
                customer growth, customer satisfaction, the visibility and modernism of the company. We have upgraded
                ourselves to bring Desi Chamak to the presence and automated our system to support customer needs as
                well as communication. Our effort is to provide the best shopping experience to not only domestic but
                also worldwides customers. In doing so, we are able to sell a higher quantity of products at an
                affordable price and deliver them to customers securely and free of shipping within the NOVA area.</p>
        </div>
        <div class="text-decoration-underline">
            <h4 class="text-center" style="font-weight: normal">OUR PRODUCTS</h4>
        </div>
        <div class="text-justify">
            <p>India is acknowledged as the largest and best center for cutting diamonds and gems in the world. Not
                only is the nation unmatched at cutting gems, but it also excels at producing exceptional jewelry,
                whether it is fashioned by hand or with machinery.</p>
            <p>Desi Chamak provides Indian handmade jewelry to those interested. Our products are made from premium
                materials and as elegant as it can be to promise a dashing look to those who wear it.</p>
            <p>The gold of our nations looks heavy in the gold color and all our products utilize 24 carat gold jewelry,
                which has a fine yellow hue. They also blend alloys to create fancy and durable jewelry.</p>
            <p>Besides that, we also stock other pieces of fashion other than gold. We showcase different bundles of
                products across our website. Please feel free to check them out.</p>
            <p>If there is any concern or questions, please contact us in the <a href="{% url 'store:contact_us' %}">Contact Us</a> page.</p>
            <p>We thank you for choosing Desi Chamak!</p>

        </div>

    </div>

{% endblock content %}