{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-3">
        <h1 class="mb-5">All Messages</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th>Date Entered</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Message</th>
                </thead>
                {% for message in all_messages %}
                    <tr>
                        <td>{{ message.created_date }}</td>
                        <td>{{ message.firstname }}</td>
                        <td>{{ message.lastname }}</td>
                        <td>{{ message.email }}</td>
                        <td>{{ message.phone }}</td>
                        <td>{{ message.message }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
      </div>

    {% endblock content %}