{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-3">
        <hr>
        <h2 class="mb-5" style="text-align: center; padding-top: 25px;">Frequently Asked Questions</h2>
        <hr>
        <div class="text-justify">
            <div class="faq-dropdown h5">
                How long will it take me to get my order?
            </div>
            <div class="faq-panel" >
                <p>For standard shipping, you should receive your order within 7-10 business days. Please note, we ask
                that you allow up to 14 days for your package to be delivered before contacting us to open a lost
                box claim.<br><br>
                For Faster or Fastest shipping, our Expedited shipping rates vary based on weight, mailing address,
                desired delivery date. Please note, while most packages do arrive within 1-2 business days of the
                estimated 'faster/fastest' delivery date, we do not guarantee delivery on the estimated date shown
                during checkout.<br><br>
                All orders placed before 11 AM PST, will ship out the same day, any order placed after will ship the
                following business day. Once your order has been placed, you'll first receive an order confirmation
                email followed by a shipment notification email with tracking once shipped.<br><br>
                Products from the same order are often shipped from different warehouses. This does not affect your
                shipping cost but may require the order to be delivered in multiple packages and the shipping time
                may vary. You can also check the status of your order by logging into your account.<br><br>
                Please note, we do not currently ship to PO boxes, APO, or FPO addresses.</p>
            </div>
            <div class="faq-dropdown h5">
                How do I return my order?
            </div>
            <div class="faq-panel" >
                <p>You may return your order for a refund or replacement to Desi Chamak within 30 days of the
                    purchase date by visiting the returns page. You are responsible for inspecting the item's' before
                    performing any alterations or embellishments. Depending on the reason for your return, you may be
                    responsible for shipping and handling charges.<br><br>

                    We highly recommend saving the receipt or tracking details verifying the return of your goods. If
                    you have a problem or discrepancy (including shortages, damages, etc.) with an order contact us
                    within 72 hours of receiving goods.<br><br>

                    Please note we are not able to accommodate any style, color or size swap or exchange requests via a
                    replacement order. Items that have been printed, washed, decorated and masks which are final sale
                    items are not eligible for return.</p>
            </div>
            <div class="faq-dropdown h5">
                How do I check the status of my order?
            </div>
            <div class="faq-panel" >
                <p>We have you covered! We will email you as items in your order ship, or if there are updates on the
                    status of your order. Can't find the email? Click here to check the status of your order.</p>
            </div>
            <div class="faq-dropdown h5">
                Why did I only receive part of my order?
            </div>
            <div class="faq-panel" >
                <p>Don't worry, it's on its way! While we do our best to ship all orders in one package, there are times
                    when orders will ship from multiple warehouses. If you did not receive multiple tracking numbers,
                    please reach out to our customer service team for assistance.</p>
            </div>
            <div class="faq-dropdown h5">
                I received the wrong goods, what do I do?
            </div>
            <div class="faq-panel" >
                <p>Although we strive for perfection, we are human and sometimes the wrong items are shipped from our
                    warehouses. We are so sorry for any inconvenience this has caused, and our customer service team is
                    here to help make things right. Please contact our customer service team via phone or our contact
                    us page, so that they can work to get you your goods as soon as possible. Phone support is available
                    Monday-Friday from 8am-5pm EST<br>
                    1-571-393-0113</p>
            </div>
        </div>
      </div>

    {% endblock content %}
